<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Opton API</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>

    <div id="app">
        <ul v-if="errors.length">
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        <form @submit.prevent="handleSubmit">
            <label>Username</label>
            <input type="text" v-model="username">
            <br/>
            <label>Password</label>
            <input type="password" v-model="password">
            <br/>
            <input type="submit" value="Submit">
        </form>
        <h1>Output</h1>
        <ul v-if="output.length">
            <li v-for="out in output">{{ out }}</li>
        </ul>
    </div>

    <script>
        const {
            createApp
        } = Vue;

        createApp({
            data() {
                return {
                    username: null,
                    password: null,
                    errors: [],
                    output: []
                };
            },

            methods: {
                validationForm() {
                    this.errors = [];
                    if (this.username.length < 8) {
                        this.errors.push("Username harus lebih dari 8 karakter");
                    }
                    if (this.password.length < 8) {
                        this.errors.push("Password harus lebih dari 8 karakter")
                    }
                },
                clearForm() {
                    this.username = null;
                    this.password = null;

                },
                handleSubmit() {
                    this.validationForm();
                    if (this.errors.length === 0) {
                        this.output.push(
                            this.username,
                            this.password
                        );
                        this.clearForm();
                    }
                }
            }
        }).mount('#app');
    </script>
</body>

</html>